<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ('../partials/head') %>
    <link rel="stylesheet" href="/css/list_products_styles.css">
    <title>Todo aviador Perú | Carrito</title>
</head>

    <%- include("../partials/header") %>

    <main>
        <header>
            <div class="ancho">
                <h1>Productos</h1>
                <nav>
                    <ul>
                        <li class="home">
                            <a href="/">
                                <i class="fas fa-home"></i>
                            </a>
                            <span>></span>
                        </li>
                        <li class="subtitulo">
                            <a href="/producto/lista-producto">
                            </a>
                            <span>Productos</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>

        <div class="list-prod">
            <section class="list-prod-filtro">

                <div class="filtro-dinero">
                    <h4>Precio</h4>
                    <form action="/producto/listado" method="GET">
                        <label for="precio-menor"></label>
                        <input type="number" name="precio-menor" id="precio-menor" placeholder="10">
                        <span>a</span>
                        <label for="precio-mayor"></label>
                        <input type="number" name="precio-mayor" id="precio-mayor" placeholder="80">
                        <button><i class="fas fa-sign-in-alt"></i></button>
                    </form>
                </div>
                <div class="filtro-categoria">
                    <h4>Categorias</h4>
                    <ul>
                        <li>
                            <a href="/producto/listado">
                                auriculares o headsets
                            </a>
                        </li>
                        <li>
                            <a href="/producto/listado">
                                bolsas de vuelo
                            </a>
                        </li>
                        <li>
                            <a href="/producto/listado">
                                cartografia
                            </a>
                        </li>
                        <li>
                            <a href="/producto/listado">
                                para el avión
                            </a>
                        </li>
                        <li>
                            <a href="/producto/listado">
                                para el piloto
                            </a>
                        </li>
                        <li>
                            <a href="/producto/listado">
                                cubierta de piloto
                            </a>
                        </li>
                        <li>
                            <a href="/producto/listado">
                                regalos
                            </a>
                        </li>
                        <li>
                            <a href="/producto/listado">
                                uniformes
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="filtro-mejor-calificado">
                    <h4>Productos mejor calificados</h4>
                    <ul>
                        <% for(let i = 0; i < productos.length; i++){ %>                            
                            
                        <li>
                            <div class="fmc-imagen">
                                <a href="/producto/detalle/<%= productos[i].id_product %>">
                                    <img src="/images/<%= productos[i].productimages[0].images.name_img %>" alt="<%= productos[i].name_product %>">
                                </a>
                            </div>
                            <div class="fmc-descripcion">
                                <a href="/producto/detalle/<%= productos[i].id_product %>"><%= productos[i].name_product %></a>
                                <span>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                    <i class="fas fa-star"></i>
                                </span>
                                <p>
                                    <%= productos[i].productEntries[0].price %>
                                </p>
                            </div>
                        </li>

                        <%}%>

                    </ul>
                </div>
            </section>

            <section class="list-prod-products">

                <div class="list-header-desk-ordenar">
                    <select name="header-desk-ordenar-por" id="header-desk-ordenar-por">
                        <option value="1">Recomendados</option>
                        <option value="2">Precio de menor a mayor</option>
                        <option value="3">Precio de mayor a menor</option>
                        <option value="4">Los mejores evaluados</option>
                        <option value="5">Nuevos productos</option>
                        <option value="6">Marcas</option>
                    </select>
                </div>

                <div class="list-header-mob-filtros">
                    <ul>
                        <li class="list-header-mob-filter">
                            <a href="">
                                <i class="fas fa-filter"></i>
                                <span>Filtrar</span>
                            </a>
                        </li>
                        <li class="list-header-mob-order">
                            <a href="">
                                <i class="fas fa-sort"></i>
                                <span>Ordenar</span>
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="list-header-list-pag">
                    <div class="list-pag-ant">
                        <a href="/producto/listado">
                            <i class="fas fa-chevron-left"></i>
                            <span>anterior</span>
                        </a>
                    </div>
                   
                    <div class="list-pag-num">
                        <span>Página</span>
                        <a href="/producto/listado">1</a>
                        <span>...</span>
                        <a href="/producto/listado">2</a>
                        <a href="/producto/listado">3</a>
                        <span>...</span>
                        <a href="/producto/listado">9</a>
                    </div>
                    
                    <div class="list-pag-sig">
                        <a href="/producto/listado">
                            <span>siguiente</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    
                </div>

                <ul>
                    <% productos.forEach( prod =>{ %>
                    
                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/<%= prod.productimages[0].images.name_img %>" alt="<%= prod.name_product %>" class="img1">
                        
                            <img src="/images/<%= prod.productimages[0].images.name_img %>" alt="<%= prod.name_product %>" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado"><%= prod.productEntries[0].categories.name_category %></a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2><%= prod.name_product %></h2>
                        </div>
                        <div class="prod-int-precio">
                            <span><%= prod.productEntries[0].price %></span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/<%= prod.id_product %>">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <% });%>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>

                    <li>
                        <div class="prod-int-img-producto">
                                    
                            <img src="/images/Defecto.jpg" alt="" class="img1">
                        
                            <img src="/images/Defecto2.jpg" alt="" class="img2">
                        
                        </div>
                        <div class="prod-int-categorias">
                            <a href="/producto/listado">cat para el avi</a>
                            , 
                            <a href="/producto/listado"> cat para la ropa</a>
                        </div>
                        <div class="prod-int-titulo">
                            <h2>Nombre del producto</h2>
                        </div>
                        <div class="prod-int-precio">
                            <span>S/20.00</span>
                        </div>
                        <div class="prod-int-rating">
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                            <i class="fas fa-star"></i>
                        </div>
                        <div class="prod-int-btns">
                            <a href="/cart">
                                <button>Agregar al carrito</button>
                            </a>
                            <a href="/producto/detalle/0001">
                                <button>Vista rapida</button>
                            </a>
                        </div>
                    </li>
                </ul>

                <div class="list-header-list-pag">
                    <div class="list-pag-ant">
                        <a href="">
                            <i class="fas fa-chevron-left"></i>
                            <span>anterior</span>
                        </a>
                    </div>
                   
                    <div class="list-pag-num">
                        <span>Página</span>
                        <a href="">1</a>
                        <span>...</span>
                        <a href="">2</a>
                        <a href="">3</a>
                        <span>...</span>
                        <a href="">9</a>
                    </div>
                    
                    <div class="list-pag-sig">
                        <a href="">
                            <span>siguiente</span>
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                    
                </div>

            </section>

        </div>
        
    </main>

    <%- include("../partials/footer") %>

</body>
</html>