<!DOCTYPE html>
<html>
   <head>
      <%- include('../partials/head') %>
      <link rel="stylesheet" href="/css/styles.css">
      <title>Producto - TodoAviador</title>
   </head>
   <%- include('../partials/header') %>
   
      <section class="ancho">
         <div>
          <h1>Productos</h1>
         </div>
         <div>
          <nav>
              <ul>
                  <li class="home">
                      <a href="/">
                          <i class="fas fa-home"></i>
                      </a>
                      <span>></span>
                  </li>
                  <li>
                      <a href="/producto/lista-producto">
                        Tienda
                      </a>
                      <span>></span>
                  </li>
                  <li>
                     <a href="/producto/lista-producto">
                        <%= product.name %>
                     </a>
                 </li>
              </ul>
          </nav>
         </div>
      </section>
      <main class="main-product-detail">
         <%- include('../partials/sidebar') %>
         <section class="product-page">
            <section class="product-detail">
               <div class="img-detail">
                  <div class="prod-images">
                     <img src= "/images/<%= product.image %>" alt="imagen-principal" class="main-img-prod">
                     <% /* %>
                     <div class="galery-img">
                         <ul>
                            <% for (let i=0; i<product.galImgs.length; i++) { %>
                               <li><img src= <%= product.galImgs[i] %> alt=<%= "alt"+i %>></li>
                            <% } %>
                         </ul>
                     <</div> 
                     <% */ %>
                  </div>
                  <div>
                     <h1><%= product.name_product %></h1>
                     <h2 class="precio">S/<%= product.price %></h2>
                     <p><%= product.description %></p>
                     <h3><%= product.stock > 0 ? "En stock: " + product.stock : "Agotado"%></h3>
                     <div class="add-cart">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                        <a href="/cart/<%= product.id_product %>" class="action-button add-cart-button">Agregar al carrito</a>
                     </div>
                     <div>
                        <a href="/producto/editar/<%= product.id_product %>" class="action-button edit">EDITAR PRODUCTO</a>
                        <form action="/producto/eliminar/<%= product.id_product %>?_method=DELETE" method="POST">
                           <button type="submit" class="action-button delete">ELIMINAR</button>
                        </form>
                     </div>
                     <div class="prod-desc-cat">
                        <p>Categoría: <%= product.category %></p>
                        <!-- <p>Etiqueta: <%= product.tags %></p> -->
                     </div>
                     <p><i class="far fa-heart"></i></p>
                     <button class="action-button compare-button">Comparar</button>
                  </div>
               </div>
               <section>
                  <div class="prod-desc-title">
                     <ul>
                        <li><a href="#">Descripción</a></li>
                        <li><a href="#">Comentarios</a></li>
                     </ul>
                  </div>
                  <div>
                     <h3>Descripción</h3>
                     <p><%= product.description %></p>
                  </div>
                  <div class="share-product">
                     <ul>
                        <li>
                           <a href="#">
                              <i class="fab fa-twitter"></i>
                              <p>Compartir en Twitter</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fab fa-facebook"></i>
                              <p>Compartir en Facebook</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fab fa-pinterest-p"></i>
                              <p>Compartir en Pinterest</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fas fa-envelope"></i>
                              <p>Compartir por correo</p>
                           </a>
                        </li>
                     </ul>
                  </div>
               </section>
            </section>
         </section>
      </main>
      <%- include('../partials/footer') %>
</html>