<!DOCTYPE html>
<html>
   <head>
      <%- include('../partials/head') %>
      <link rel="stylesheet" href="/css/styles.css">
      <title>Producto - TodoAviador</title>
   </head>
   <%- include('../partials/header') %>
      <main class="main-product-detail">
         <%- include('../partials/sidebar') %>
         <section class="product-page">
            <section class="product-detail">
               <div class="img-detail">
                  <div class="prod-images">
                     <img src= "/images/<%= product.image %>" alt="imagen-principal" class="main-img-prod">
                     <div class="galery-img">
                        <ul>
                           <% for (let i=0; i<product.galImgs.length; i++) { %>
                              <li><img src= <%= product.galImgs[i] %> alt=<%= "alt"+i %>></li>
                           <% } %>
                        </ul>
                     </div>
                  </div>
                  <div>
                     <h2><%= product.name %></h2>
                     <h3 class="precio">S/<%= product.price %></h3>
                     <p><%= product.description %></p>
                     <h6>En stock</h6>
                     <div class="add-cart">
                        <button>-</button>
                        <p>1</p>
                        <button>+</button>
                        <button class="add-cart-button">Agregar al carrito</button>
                        <a href="/producto/editar/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>
                        <form action="/producto/eliminar/<%= product.id %>?_method=DELETE" method="POST">
                           <button type="submit" class="action-button delete">ELIMINAR</button>
                        </form>
                     </div>
                     <div class="prod-desc-cat">
                        <p>Categoría: <%= product.category %></p>
                        <p>Etiqueta: <%= product.tags %></p>
                     </div>
                     <p><i class="far fa-heart"></i></p>
                     <button class="compare-button">Comparar</button>
                  </div>
               </div>
               <section>
                  <div class="prod-desc-title">
                     <ul>
                        <li><a href="#">Descripción</a></li>
                        <li><a href="#">Comentarios</a></li>
                     </ul>
                  </div>
                  <div>
                     <h3>Descripción</h3>
                     <p><%= product.description %></p>
                  </div>
                  <div class="share-product">
                     <ul>
                        <li>
                           <a href="#">
                              <i class="fab fa-twitter"></i>
                              <p>Compartir en Twitter</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fab fa-facebook"></i>
                              <p>Compartir en Facebook</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fab fa-pinterest-p"></i>
                              <p>Compartir en Pinterest</p>
                           </a>
                        </li>
                        <li>
                           <a href="#">
                              <i class="fas fa-envelope"></i>
                              <p>Compartir por correo</p>
                           </a>
                        </li>
                     </ul>
                  </div>
               </section>
            </section>
            <section class="related-prod">
               <h3>Productos relacionados</h3>
               <div>
                  <% for (let i=0; i < productsRel.length; i++) { %>
                     <ul>
                        <li><img src= "/images/<%= productsRel[i].image %>" alt="related" class= "relProdImg"></li>
                        <li><p><%= productsRel[i].category + ", " + productsRel[i].tags %></p></li>
                        <li><p><a href="/producto/detalle/<%= productsRel[i].id %>"><%= productsRel[i].name %></a></p></li>
                        <li><h6 class="precio">S/<%= productsRel[i].price %></h6></li>
                        <li><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i></li>
                        <li><button>Comprar</button></li>
                     </ul>
                  <% } %>
               </div>
            </section>
         </section>
      </main>
      <%- include('../partials/footer') %>
</html>