<!DOCTYPE html>
<html lang="en">
<head>

    <%- include ('../partials/head') %>

    <link rel="stylesheet" href="/css/cart_styles.css">
    <title>Todo aviador Perú | Carrito</title>
</head>

    <%- include("../partials/header") %>

    <main>
        <header>
            <div class="ancho">
                <h1>Carrito</h1>
                <nav>
                    <ul>
                        <li class="home">
                            <a href="/">
                                <i class="fas fa-home"></i>
                            </a>
                            <span>></span>
                        </li>
                        <li class="carrito">
                            <a href="/cart">
                            </a>
                            <span>Carrito</span>
                        </li>
                    </ul>
                </nav>
            </div>
        </header>
        <div class="contenedor-contenido">
            <div class="contenido-compra">
                <article> 
                    <table>
                        <thead>
                            <tr>
                                <th class="producto-remover"></th>
                                <th class="producto-imagen"></th>
                                <th class="producto-nombre">producto</th>
                                <th class="producto-precio">precio</th>
                                <th class="producto-cantidad">cantidad</th>
                                <th class="producto-subtotal">subtotal</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="producto-remover">
                                    <a href="">x</a>
                                </td>
                                <td class="producto-imagen">
                                    <img src="/images/<%= allProduct.image %>" alt="">
                                </td>
                                <td class="producto-nombre" data-title="Producto">
                                    
                                    <a href=""><%= allProduct.name_product %></a>
                                </td>
                                <td class="producto-precio" data-title="Precio">
                                    
                                    <span >S/ <span id="precio"><%= allProduct.price %></span></span>
                                </td>
                                <td class="producto-cantidad" data-title="Cantidad">
                                    <div class="contador">
                                        <a href="" id="menos">-</a>
                                        <input type="number" name="num_prod" id="num_prod" min="1" max="50" value="1">
                                        <a href="" id="mas">+</a>
                                    </div>
                                    
                                </td>
                                <td class="producto-subtotal" data-title="Sub-total">
                                    
                                    <span>S/ <span id="subtotal"><%= allProduct.price %></span></span>
                                </td>
                            </tr>
                        
                            <tr>
                                <td class="producto-footer">
                                    <div class="cupon">
                                        <form action="/productCart" method="GET">
                                            <input type="text" name="" id="" placeholder="Código de cupón">
                                            <input type="submit" value="Aplicar cupón">
                                        </form>
                                    </div>
                                    <div class="actualizar">
                                        <form action="/productCart" method="GET">
                                            <input type="submit" value="Actualizar">
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
            

            <div class="contenido-extra">
                <article class="prod-interes">
                    <table>
                        <thead>
                            <tr>
                                <th>Te podria interesar</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <% product.forEach( prod =>{ %>

                                <td>
                                    <div class="prod-int-img-producto">
                                        
                                            <img src="/images/<%= prod.productimages[0].images.name_img %>" alt="" class="img1">
                                        
                                            <img src="/images/<%= prod.productimages[0].images.name_img %>" alt="" class="img2">
                                        
                                    </div>
                                    <div class="prod-int-categorias">
                                        <a href=""><%= prod.productEntries[0].categories.name_category %></a>
                                        
                                    </div>
                                    <div class="prod-int-titulo">
                                        <h2><%= prod.name_product %></h2>
                                    </div>
                                    <div class="prod-int-precio">
                                        <span> S/ <%= prod.productEntries[0].price %></span>
                                    </div>
                                    <div class="prod-int-rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                    <div class="prod-int-btns">
                                        <a href="/cart/<%= prod.id_product %>">
                                            <button>Agregar al carrito</button>
                                        </a>
                                        <a href="/producto/detalle/<%= prod.id_product %>">
                                            <button>Vista rapida</button>
                                        </a>
                                    </div>
                                    
                                </td>
                                <% })%>
                                
                            </tr>
                        </tbody>
                    </table>
                </article>

                <article class="total-carro">
                    <table>
                        <thead>
                            <tr class="titulo-total">
                                <th>Total del carrito</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="producto-subtotal" data-title="Subtotal">
                                    <span>S/79.99</span>
                                </td>
                                <td class="producto-envio" data-title="Gastos de envio">
                                    <span> Ingresa tu dirección para ver las opciones de envio.</span>
                                    <div class="calc-envio">
                                        <a href="">Calcular costo de envio</a>
                                        
                                    </div>
                                </td>
                                <td class="producto-subtotal" data-title="Total">
                                    <span>S/79.99</span>
                                </td>
                                <td class="terminar-compra">
                                    <a href="">Ir a comprar</a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </article>
            </div>
            
        </div>

        <script src="/js/carrito.js"></script>
        
    </main>

    <%- include("../partials/footer") %>

</body>
</html>