<!DOCTYPE html>
<html>
    <head>
    <%- include('../partials/head') %>
        <link rel="stylesheet" href="/css/styles.css">
        <title>Registro - TodoAviador</title>
    </head>
    <%- include('../partials/header') %>
        <main class="main-login">
            <section class="cuadro-login">
                <div class="login-top-div">
                    <h2>Crea tu cuenta</h2>
                    <p>¡Bienvenido! Regístrate y sé parte de nuestra comunidad</p>
                    <div class = "errores">
                        <ul></ul>
                     </div>
                    <form action="/register" method="POST" class="formulario-login" enctype="multipart/form-data">
                        <!-- NOMBRE DE USUARIO -->
                        <input type="text" name="usuario" id="usuario" placeholder="Usuario" value="<%= locals.old && old.usuario ? old.usuario : '' %>">
                        <% if (locals.errors && errors.usuario) { %>
                            <div class="errors"><%= errors.usuario.msg %></div>
                        <% } %> 
                        <!-- NOMBRES -->
                        <input type="text" name="nombres" id="nombres" placeholder="Nombres" value="<%= locals.old && old.nombres ? old.nombres : '' %>">
                        <% if (locals.errors && errors.nombres) { %>
                            <div class="errors"><%= errors.nombres.msg %></div>
                        <% } %> 
                        <!-- APELLIDOS -->
                        <input type="text" name="apellidos" id="apellidos" placeholder="Apellidos" value="<%= locals.old && old.apellidos ? old.apellidos : '' %>">
                        <% if (locals.errors && errors.apellidos) { %>
                            <div class="errors"><%= errors.apellidos.msg %></div>
                        <% } %> 
                        <!-- EMAIL -->
                        <input type="email" name="email" id="email" placeholder="Correo" value="<%= locals.old && old.email ? old.email : '' %>">
                        <% if (locals.errors && errors.email) { %>
                            <div class="errors"><%= errors.email.msg %></div>
                        <% } %> 
                        <!-- PASSWORD -->
                        <input type="password" name="password" id="password" placeholder="Contraseña">
                        <% if (locals.errors && errors.password) { %>
                            <div class="errors"><%= errors.password.msg %></div>
                        <% } %> 
                        <input type="password" name="confPassword" id="confPassword" placeholder="Confirmarcontraseña">
                        <% if (locals.errors && errors.confPassword) { %> 
                            <div class="errors"><%= errors.confPassword.msg %></div>
                        <% } %> 
                        <label>Imagen de perfil</label>
                        <input type="file" name="image">
                        <% if (locals.errors && errors.image) { %>
                            <div class="errors"><%= errors.image.msg %></div>
                        <% } %> 
                        <button type="submit" name="register">Registrarme</button>
                    </form>
                </div>
                <div class="registrate">
                    <p>¿Ya eres miembro?</p>
                    <button onclick="location.href='/login';">Ingresar</button>
                </div>
            </section>
        </main>
        <script src="js/registerValidator.js"></script>
    <%- include('../partials/footer') %>
</html>